*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-admin: #d6fd96;
  --color-admin-dark: #aed62c;
  --color-admin-light: #dcffa4;

  --color-calm-background: #fdfdfd;

  --gradient-admin: linear-gradient(
    135deg,
    var(--color-admin) 0%,
    var(--color-admin-light) 100%
  );
}

* {
  scrollbar-width: thin;
}